main{
	display: flex;
}

.options {
	min-width: 456px;
	max-width: 456px;
	height: calc(100vh - 110px);
	overflow-y: hidden;
	margin-left: 24px;
}

.mat-tab-group {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.mat-tab-header {
	height: 49px;
	display: flex;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
