@import "_google-fonts-roboto.css";
@import "variables.css";

* {
	font-family: "Roboto";
}

::-webkit-scrollbar {
	width: 18px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.06);
	border: 6px solid transparent;
	border-radius: 16px;
	background-clip: padding-box;
}

* {
	scrollbar-color: rgba(0, 0, 0, 0.06) transparent;
	scrollbar-width: thin;
}

html {
	background: #efefef;
}

body {
	position: relative;
	margin: var(--header-height) 0 0 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	transition: 0.5s;
	background-color: rgba(0, 0, 0, 0) !important;
}

a {
	text-decoration: none;
	color: var(--first-color-light);
}

/* Main Card */

main {
	margin: 24px;
	margin-top: calc(24px + var(--header-height));
	position: relative;
	z-index: 1;
	display: block;
	background: #ffffff;
	height: calc(100vh - var(--header-height) - 48px);
	overflow: auto;
	border-radius: 5px;
}

card-title {
	flex-direction: row;
	box-sizing: border-box;
	display: flex;
	place-content: center space-between;
	align-items: center;
	overflow: hidden;
	height: 64px;
	background: var(--first-color);
	color: #ffffff;
	border-radius: 5px 5px 0 0;
}

card-title h3 {
	color: #ffffff;
	font-family: var(--body-font);
	font-size: 20px;
	font-weight: normal;
	margin-left: 25px;
}

card-content {
	padding: 16px;
}
